* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}
body {
  background-color: var(--surface-ground);
  overflow-x: hidden;
}
h1 {
  font-size: 40px;
  text-align: center;
}
body::-webkit-scrollbar {
  width: 2px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  outline: 1px solid var(--primary-color);
}
html {
  scroll-behavior: smooth;
}
